<div class="row">
  <div class="col-lg-6 col-xl-4">
    <a [routerLink]="['/add-task']"> Новое задание </a>

    <p class="mainTask">{{ currentTask.text }}</p>

    <div *ngIf="currentTask.additionalTasks?.length">
      <h5>Дополнительные задания:</h5>
      <ul>
        <li *ngFor="let additionalTask of currentTask.additionalTasks">
          <mat-checkbox
            color="primary"
            (change)="checkAdditionalTask($event, additionalTask.appointmentId)"
          >
            {{ additionalTask.text }}
          </mat-checkbox>
        </li>
      </ul>
    </div>

    <div class="buttons" *ngIf="currentTask.text">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="complete()"
      >
        Выполнено
      </button>
      <button
        mat-raised-button
        color="secondary"
        type="button"
        (click)="postpone()"
      >
        Отложено
      </button>
      <button mat-raised-button color="accent" type="button" (click)="reject()">
        Отменено
      </button>
    </div>
    <div class="buttons" *ngIf="!currentTask.text">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="appoint()"
      >
        Назначить
      </button>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4">
    <app-growth-history-index-block></app-growth-history-index-block>
  </div>
  <div class="col-lg-6 col-xl-4">
    <app-growth-progress-index-block></app-growth-progress-index-block>
  </div>
</div>
