<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

    <h3>Авторизация</h3>

    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  
    <div>
      <mat-form-field>
        <mat-label>Логин</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
    </div>
  
    <div>
        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>
  
    <div>
      <button mat-raised-button color="primary" type="submit">Войти</button>
    </div>
  
  </form>