<div class="profile-container">
    <div class="profile-header">
        <div class="avatar-container">
            <ion-avatar>
                <ion-icon name="person-circle-outline"></ion-icon>
            </ion-avatar>
        </div>
        <div class="user-info">
            <h2>{{ user?.username }}</h2>
            <div class="points-info">
                <ion-icon name="star-outline"></ion-icon>
                <span>Current Points: {{ getCurrentPoints() }}</span>
            </div>
        </div>
    </div>
    <ion-button (click)="signOut()">Sign Out</ion-button>
</div>
