<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="task-links">
        <a [routerLink]="['/task/add']">Новое задание</a> |
        <a [routerLink]="['/task/list']">Список заданий</a>
    </div>

    <div *ngIf="!loading">
        <p class="main-task">{{ appointedTask?.text }}</p>

        <!-- <div *ngIf="appointedTask?.additionalTasks?.length">
                <h5>Дополнительные задания:</h5>
                <ul>
                    <li *ngFor="let additionalTask of appointedTask?.additionalTasks">
                        <ion-checkbox color="primary"
                            (ionChange)="checkAdditionalTask($event, additionalTask.appointmentId)">
                            {{ additionalTask.text }}
                        </ion-checkbox>
                    </li>
                </ul>
            </div> -->

        <div class="buttons" *ngIf="appointedTask?.text">
            <span class="split-button">
                <ion-button class="left" (click)="completeAndAppoint()">
                    Выполнено
                </ion-button>
                <ion-button class="right" (click)="openMenu($event)">
                    <ion-icon slot="icon-only" name="expand"></ion-icon>
                </ion-button>
            </span>

            <ion-popover [isOpen]="isMenuOpen" (ionPopoverDidDismiss)="closeMenu()">
                <ng-template>
                    <ion-button (click)="complete()">
                        Выполнить без назначения
                    </ion-button>
                </ng-template>
            </ion-popover>

            <ion-button color="warning" (click)="postpone()">
                Отложено
            </ion-button>
            <ion-button color="danger" (click)="reject()">
                Отменено
            </ion-button>
        </div>

        <div class="buttons" *ngIf="!appointedTask?.text">
            <ion-button color="primary" (click)="appoint()">
                Назначить
            </ion-button>
        </div>
    </div>

    <div *ngIf="loading">
        <ion-spinner></ion-spinner>
    </div>
</ion-content>