<div class="container">
    <div class="row">
        <div class="col-10">
            <a [routerLink]="['/']">
                <h1>What Must I Do</h1>
            </a>
        </div>
        <div class="col-2">
            <div class="sign-block">
                <div *ngIf="authService.getUser(); then auth else guest">
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #guest>
    <a [routerLink]="['/auth/sign-in']">Вход</a>
</ng-template>

<ng-template #auth>
    <div *ngIf="authService.getUser() as user">
        {{ user.username }}
    </div>
</ng-template>